/* Umi约定全局样式文件 */
.list-table {
  width: 950px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.list-pagination {
  text-align: right;
  padding: 8px 20px 8px 0;
}
